<!DOCTYPE html>
<html>
    <head>
        <title>Jukebox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/CSS" href="/style.css">
        <link rel="shortcut icon" href="/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    </head>
    <body>
            <div class="grid-container">
                <div class="grid-item1"></div>
                <div class="grid-item2">
                    <h1>L'ESCABOX</h1>
                </div>
                <div class="grid-item3"></div>
                <div class="grid-item4"></div>
                <div class="grid-item5">
                    <h3>Choisis ton son, le DJ c'est toi!</h3>
                </div>
                <div class="grid-item6"></div>
                <div class="grid-item7"></div>
                <div class="grid-item8">
                    <button><i id="pouceV" type="button" onclick="votepour()" class="fas fa-thumbs-up"></i></button>
                    <progress id="barre" name="barre_de_soulance" value="3" max="8" min="0">
                    </progress>
                    <button><i id="pouceR" type="button" onclick="votecontre()" class="fas fa-thumbs-down"></i></button>
                </div>
                <div class="grid-item9">
                    <form method="post" action="  " >
                        <input name="identifiant" type="text" placeholder="identifiant"/>
                        <br/>
                        <input name="mot_de_passe" type="password" placeholder="mot de passe" />
                    </form>
                </div>
                <div class="grid-item10">                    
                        playlist
                    <div id="miniature">
                        <span id="thumbnail"></span>
                    </div>
                </div>

                <div class="grid-item11">
                <div id="player"></div>
                </div>

                <div class="grid-item12">
                    utilisateurs
                </div>
                
                <div class="grid-item13">
                    <form id="nouvellevideo">
                    <div class="url-video">
                            <input name="video" type="text" placeholder="Entrer l'url de la vidéo Youtube" size="75">
                        </div>
                        <div class="categorie-video">
                            <select class="categorie-video" id="cat-video" required>
                                <option default>Genre 1</option>
                                <option value="Alternatif">Alternatif</option>
                                <option value="Ambiance">Ambiance</option>
                                <option value="Animaion">Animation</option>
                                <option value="Balade">Balade</option>
                                <option value="Bande Originale">Bande Originale (BO)</option>
                                <option value="Blues">Blues</option>
                                <option value="Bounce">Bounce</option>
                                <option value="Classique">Classique</option>
                                <option value="Country">Country</option>
                                <option value="Dance">Dance</option>
                                <option value="Dancehall">Dancehall</option>
                                <option value="Disco">Disco</option>
                                <option value="Dubstep">Dubstep</option>
                                <option value="Electro">Electro</option>
                                <option value="Folk">Folk</option>
                                <option value="Funk">Funk</option>
                                <option value="Generrique">Générique</option>
                                <option value="Hard Rock">Hard Rock</option>
                                <option value="HeMetalavy">Heavy Metal</option>
                                <option value="hip-Hop">Hip-Hop</option>
                                <option value="House">House</option>
                                <option value="Humour">Humour</option>
                                <option value="Instrumentale">Instrumentale</option>
                                <option value="Jazz">Jazz</option>
                                <option value="Jazz Fusion">Jazz Fusion</option>
                                <option value="Punk">Punk</option>
                                <option value="Pop">Pop</option>
                                <option value="Rai">Raï</option>
                                <option value="Rap">Rap</option>
                                <option value="Reggae">Reggae</option>
                                <option value="RnB">Rnb</option>
                                <option value="Rock">Rock</option>
                                <option value="Salsa">Salsa</option>
                                <option value="Samba">Samba</option>
                                <option value="Ska">Ska</option>
                                <option value="Soul">Soul</option>
                                <option value="Techno">Techno</option>
                                <option value="Trans">Trans</option>
                                <option value="Variete">Variété</option>
                                <option value="Zouk">Zouk</option>
                                <option value="Zumba">Zumba</option>
                            </select>
                            <select class="categorie-video" id="cat-video">
                                    <option default>Genre 2</option>
                                    <option value="Alternatif">Alternatif</option>
                                    <option value="Ambiance">Ambiance</option>
                                    <option value="Animaion">Animation</option>
                                    <option value="Balade">Balade</option>
                                    <option value="Bande Originale">Bande Originale (BO)</option>
                                    <option value="Blues">Blues</option>
                                    <option value="Bounce">Bounce</option>
                                    <option value="Classique">Classique</option>
                                    <option value="Country">Country</option>
                                    <option value="Dance">Dance</option>
                                    <option value="Dancehall">Dancehall</option>
                                    <option value="Disco">Disco</option>
                                    <option value="Dubstep">Dubstep</option>
                                    <option value="Electro">Electro</option>
                                    <option value="Folk">Folk</option>
                                    <option value="Funk">Funk</option>
                                    <option value="Generrique">Générique</option>
                                    <option value="Hard Rock">Hard Rock</option>
                                    <option value="HeMetalavy">Heavy Metal</option>
                                    <option value="hip-Hop">Hip-Hop</option>
                                    <option value="House">House</option>
                                    <option value="Humour">Humour</option>
                                    <option value="Instrumentale">Instrumentale</option>
                                    <option value="Jazz">Jazz</option>
                                    <option value="Jazz Fusion">Jazz Fusion</option>
                                    <option value="Punk">Punk</option>
                                    <option value="Pop">Pop</option>
                                    <option value="Rai">Raï</option>
                                    <option value="Rap">Rap</option>
                                    <option value="Reggae">Reggae</option>
                                    <option value="RnB">Rnb</option>
                                    <option value="Rock">Rock</option>
                                    <option value="Salsa">Salsa</option>
                                    <option value="Samba">Samba</option>
                                    <option value="Ska">Ska</option>
                                    <option value="Soul">Soul</option>
                                    <option value="Techno">Techno</option>
                                    <option value="Trans">Trans</option>
                                    <option value="Variete">Variété</option>
                                    <option value="Zouk">Zouk</option>
                                    <option value="Zumba">Zumba</option>
                            </select>
                            <select class="categorie-video" id="cat-video">
                                        <option default>Genre 3</option>
                                        <option value="Alternatif">Alternatif</option>
                                        <option value="Ambiance">Ambiance</option>
                                        <option value="Animaion">Animation</option>
                                        <option value="Balade">Balade</option>
                                        <option value="Bande Originale">Bande Originale (BO)</option>
                                        <option value="Blues">Blues</option>
                                        <option value="Bounce">Bounce</option>
                                        <option value="Classique">Classique</option>
                                        <option value="Country">Country</option>
                                        <option value="Dance">Dance</option>
                                        <option value="Dancehall">Dancehall</option>
                                        <option value="Disco">Disco</option>
                                        <option value="Dubstep">Dubstep</option>
                                        <option value="Electro">Electro</option>
                                        <option value="Folk">Folk</option>
                                        <option value="Funk">Funk</option>
                                        <option value="Generrique">Générique</option>
                                        <option value="Hard Rock">Hard Rock</option>
                                        <option value="HeMetalavy">Heavy Metal</option>
                                        <option value="hip-Hop">Hip-Hop</option>
                                        <option value="House">House</option>
                                        <option value="Humour">Humour</option>
                                        <option value="Instrumentale">Instrumentale</option>
                                        <option value="Jazz">Jazz</option>
                                        <option value="Jazz Fusion">Jazz Fusion</option>
                                        <option value="Punk">Punk</option>
                                        <option value="Pop">Pop</option>
                                        <option value="Rai">Raï</option>
                                        <option value="Rap">Rap</option>
                                        <option value="Reggae">Reggae</option>
                                        <option value="RnB">Rnb</option>
                                        <option value="Rock">Rock</option>
                                        <option value="Salsa">Salsa</option>
                                        <option value="Samba">Samba</option>
                                        <option value="Ska">Ska</option>
                                        <option value="Soul">Soul</option>
                                        <option value="Techno">Techno</option>
                                        <option value="Trans">Trans</option>
                                        <option value="Variete">Variété</option>
                                        <option value="Zouk">Zouk</option>
                                        <option value="Zumba">Zumba</option>
                            </select>
                        </div>
                </div>
                <div class="grid-item14">
                    <input type="submit" value="ajouter"/>
                </div> 
            </form>
            </div>
            <script type="text/javascript" src="script.js"></script>
            
        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('timecode', function (data) {
            timecode = data;
        });
        socket.on('id_video', function(data) { 
            identifiant = data;
        });
        socket.on('newVideo', function(data) {
            identifiant = data;
            thumbnail();
        });
        </script>
        <script type="text/javascript" src="/player.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>