<!DOCTYPE html>
<html>
    <head>
        <title>Jukebox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="shortcut icon" href="/favicon.ico"/>
    </head>
    <body>
        <div id="main">
            <div id="playlist">
                <h1 id="venir"></h1>
                <span id="thumbnail">
                </span>
            </div>
            <div id="central">
                <h1 class="titre">(J u k e b o x)</h1>
                <!--La div id="player" à pas changer, elle remplacera votre iframe qui contient votre player,
                    pour les modif de taille du player ../public/player.js-->
                <div id="player"></div>
                <div id="chat"></div>
            </div>
            <div id="channel">
            </div>
        </div>
        <!--Script necessaire-->
        <script src="/socket.io/socket.io.js"></script>
        <script>
        var socket = io.connect('http://localhost:8080');
        socket.on('timecode', function (data) {
            timecode = data;
        });
        socket.on('id_video', function(data) { 
            identifiant = data;
        });
        </script>
        <script type="text/javascript" src="/player.js"></script>
    </body>
</html>