@font-face {
    font-family: "the_juke_box";
    src: url("fonts/The_Juke_Box-FFP.eot");
    src: 
        url("fonts/The_Juke_Box-FFP.otf") format("opentype"),
        url("fonts/The_Juke_Box-FFP.woff") format("woff"),
        url("fonts/The_Juke_Box-FFP.woff2") format("woff2"),
        url("fonts/The_Juke_Box-FFP.svg") format("svg"),
        url("fonts/The_Juke_Box-FFP.ttf") format("truetype");
        
        
}

@font-face {
    font-family: "BACKTO1982";
    src: url("fonts/BACKTO1982.ttf");
}


body {
    background-color: black;
    height: 100%;
    margin:0;
}

html {
    height:100%;
    margin:0;
    user-select: none;
}

#player {
    text-align: center;
    margin: auto;
    display: block;
    pointer-events: none;
}

.titre {
    font-family:"the_juke_box";
    font-size: 8vw;
    color: white;
    margin-top: 2%;
    margin-bottom: 0;
}

#main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "playlist central channel";
    height: 100%;
}

#central {
    grid-area: central;
    text-align: center;
    border-right: 5px red solid;
    border-left: 5px red solid;
    height: 100%;
    box-shadow: 0 0 1px #BD1717, 0 0 2px #BD1717, 0 0 6px #BD1717, 0 0 12px #BD1717, inset 0 0 1px -10px #BD1717, inset 0 0 2px -10px #BD1717, inset 0 0 6px -10px #BD1717, inset 0 0 12px -10px #BD1717;
 
}

img {
    margin: 3%;
    height: 13%;
    width: 50%;
    display: block;
    position: relative;
    margin-left: auto;
    
}

#playlist {
    grid-area: playlist;
    height: 100%;
}

#venir {
    font-family:"BACKTO1982";
    font-size: 1.5vw;
    text-align: right;
    color: white;
    margin-right: 10%;
    margin-top: 50%;
    margin-bottom: 10%;
}

button {
    margin:0 10%;
    font-family:"BACKTO1982";
}