@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

   body {
    background-image: url('/fond.gif');
    margin: 0;
    padding:0;
  }

  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 10% 60% 10%;
  }

  
  .grid-item1{

  }

  .grid-item2 h1{
    text-align:center;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 3em;
    color: #5ef4ec ;
    transform:rotate(-2deg);
    -ms-transform:rotate(-2deg); 
    -webkit-transform:rotate(-2deg); 
    -webkit-text-stroke: 2px #5ef4ec;
    -webkit-filter: drop-shadow(2px 2px 20px #5ef4ec);
    z-index: 20;
    letter-spacing: 10px;
  }

  .grid-item3{
    
  }

  .grid-item4{
    
  }

  .grid-item5 h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size:1.6em;
    text-align:center;
    margin: 0px;
    color: #5ef4ec ;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg);
    -webkit-text-stroke: 1px #5ef4ec;
    -webkit-filter: drop-shadow(2px 2px 20px #5ef4ec);
    z-index: 20;
    letter-spacing: 10px;
  }

  .grid-item6{
    
  }

  .grid-item7{
    
  }

  .grid-item8{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /*image pouce */
.grid-item8 i{
  font-size: 4em ;
  margin:20px;
}

  .grid-item9{
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .grid-item9 input{
    border: 2px solid black;
    border-radius:10px;
    margin-bottom:0px;
    padding:2px;
  }

/*block playlist*/
  .grid-item10, .grid-item12{
    display:flex;
    flex-direction:column;
    align-items: center;
    overflow-y:scroll;

    border: 2px solid black;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #2d2b30a4;
  }

  /*image des videos */
.grid-item10 img{
  height: 90px;
  width:160px;
  margin-top: 10px;
  border-radius:50px;
  border: 2px solid black;
}

/*block video*/
  .grid-item11{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/*url et genre */
  .grid-item13 {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
 
  }

  .grid-item14{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-item14 input{
    width:150px;
    height:50px;
    padding:5px;
    border: 2px solid black;
    border-radius:10px;
  }

/*utilisateur et playlist*/
textarea{
 height:90%;
 width:90%;
}


.categorie-video{
  display: flex;
  justify-content: space-around;
}

.url-video input{
  width:80%;
  margin-left:95px;
  margin-bottom:0px;
  margin-top:0px;
  padding:5px;
  border: 2px solid black;
  border-radius:10px;
}

.categorie-video select{
  border: 2px solid black;
  border-radius:10px;
  padding:0px;
}

/*barre de soulance*/
progress{
  width:40%;
  height:30px;
  border: 2px solid black;
  color:red;
}

#pouceV{
  color:green;
}

#pouceR{
  color:red;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
}

#player {
  text-align: center;
  margin: auto;
  display: block;
  pointer-events: none;
}

::-webkit-progress-value {
  background: linear-gradient(to right, orange, red);

}