   body {
    background-image: url('/fond.gif');
    margin: 0;
    padding:0;
  }

  .grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 10% 60% 10%;
  }

  
  .grid-item1{

  }

  .grid-item2{

  }

  .grid-item3{
    
  }

  .grid-item4{
    
  }

  .grid-item5{
    
  }

  .grid-item6{
    
  }

  .grid-item7{
    
  }

  .grid-item8{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid-item9{
    
  }
/*block playlist*/
  .grid-item10, .grid-item12{
    display:flex;
    flex-direction:column;
    align-items: center;
    overflow-y:scroll;

    border: 2px solid black;
    margin-left:10px;
    background-color: #26004d;
    
  }
/*block video*/
  .grid-item11{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-item12{

  }
/*url et genre */
  .grid-item13 {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
 
  }

  .grid-item14{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/*utilisateur et playlist*/
textarea{
 height:90%;
 width:90%;
}
/*image des videos */
.grid-item10 img{
  height: 90px;
  width:160px;
  margin-top: 10px;
  border-radius:50px;
  border: 2px solid black;

}

.categorie-video{
  display: flex;
  justify-content: space-around;
}

.url-video input{
  width:80%;
  margin-left:95px;
  margin-bottom:0px;
  margin-top:0px;
  padding:5px;
  border: 2px solid black;
  border-radius:10px;
}

.categorie-video select{
  border: 2px solid black;
  border-radius:10px;
  padding:0px;
}

.grid-item14 input{
  width:150px;
  height:50px;
  padding:5px;
  border: 2px solid black;
  border-radius:10px;

}

.grid-item9 input{
  border: 2px solid black;
  border-radius:10px;
  margin-bottom:0px;
  padding:2px;
}

/*barre de soulance*/
meter{
  width:40%;
  height:30px;
  border: 2px solid black;
  color:red;

}

/*image pouce */
.grid-item8 i{
  font-size: 4em ;
  margin:20px;
}
#pouceV{
  color:green;
}

#pouceR{
  color:red;
}

button {
  background-color: transparent;
  border: none;
  outline: 0;
}

h1{
  color: green;
  text-align: center;
}

h2{
  color: violet;
  text-align: center;
}

#player {
  text-align: center;
  margin: auto;
  display: block;
  pointer-events: none;
}